/* 1) Element Selector */
/* p {
    color: red;
}
h2 {
    background-color: aquamarine;
} */


/* ------------------------------------------------------------------------------------------ */
/* 2) ID Selector: prefix the id-selector with "#"
    >> It should always be unique and only be used for specifice purpose
    >> Mostly used with JavaScript!
*/
/* #firstPId {
    background-color: bisque;
    color: red;
}
#secondPId {
    background-color: cyan;
}
#h1OnlyId {
    color: yellow;
    background-color: blue;
} */


/* -------------------------------------------------------------------------------------------- */
/* >> Group Selector: If I want same style for multiple id's */
/* #firstPId, #secondPId, .highlighter {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: chocolate;
} */


/* -------------------------------------------------------------------------------------------- */
/* 3) Class Selector: prefix the class-selector with "."
    >> Can be used multiple times in HTML tag
    >> Can also use multiple 'className' in a single element!
*/
/* .firstClass {
    background-color: burlywood;
}
.h2OnlyClass {
    color: green;
}
.highlighter {
    background-color: yellow;
}
.secondClass {
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */


/* -------------------------------------------------------------------------------------------- */
/* 4) Nested Selector: using id, class and element selector at a single element
    >> ID >> Class >> Element
*/
/* #nestedID {
    color: blue;
}
.nestedClass {
    color: goldenrod;
}
p {
    color: tomato;
} */


/* -------------------------------------------------------------------------------------------- */
/* Universal Selector: to apply the style to all the elements of the HTML doc */
/* * {
    text-align: center;
} */


/* -------------------------------------------------------------------------------------------- */
/* Descendent Selector: style all the elements present under a particular section or element (irrespective of the direct or indirect child)*/
/* #descendentSelector li{
    color: blue;
} */


/* -------------------------------------------------------------------------------------------- */
/* Direct Child Selector: style only the direct child elements */
/* #descendentSelector > p {
    color: red;
} */

h3:hover {
    background-color: yellow;
}