body {
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: cadetblue;
    background-color: black;
}

#moreOnPixel {
    color: pink;
    font-family: Arial, Helvetica, sans-serif;
}

#pixel {
    color: bisque;
}

h3 {
    color: #ffe6a7;
}

section {
    border: 4px dashed firebrick; /* dashed, dotted, solid */
    border-radius: 25px;
}

